<ng-container *ngIf="connected && !recoveryEnd">
  <nav class="navbar navbar-light bg-light sticky-top">
    <div>
      <div>
        <span class="navbar-brand mb-0">
          <span style="color:#d70000">
            <strong style="color: #af0505">red</strong>pesk<sup style="font-size: 50%;">®</sup>
          </span> Recovery
        </span>
      </div>
      <div>
        <small>Version {{gitTag}}</small>
      </div>
    </div>
    <div class="logo">
      <a href="https://iot.bzh/" target="_blank">
        <img class="img img-responsive" src="../../../assets/redpesk-fish-name.png" alt="logo redpesk" style="height: 60px; max-width: 100%;">
      </a>
    </div>
  </nav>
  <div class="sidebar container">
    <div>
      <h4>Tool Info</h4>
      <p>If your system fails to boot for whatever reason,
        it may be useful to boot it into recovery mode. This
        mode just loads some basic services as root
        and can repair your system choosing some default actions.
        If booting into recovery mode does not work you can check the <a target="_blank"
          href="https://docs.redpesk.bzh/">documentation</a>.</p>
    </div>
    <div class="border p-3 text-left">
      <div class="d-flex">
        <h4>Board Info</h4>
        <span class="ml-2 more">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path
              d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
          </svg>
        </span>
      </div>
      <div class="row">

        <ng-container *ngIf="boardInfo$ | async as board">
          <div class="col-xl-12 col border-left">
            <strong>General</strong>
            <div class="row mb-3">
              <div class="col">Serial number:</div>
              <div class="col"><strong>N/A</strong></div>
              <div class="w-100"></div>
              <div class="col">MAC address:</div>
              <div class="col"><strong>{{board.general.mac}}</strong></div>
            </div>
            <strong>Disk Usage</strong>
            <div class="row" *ngFor="let disk of board.disk_usage">
              <ng-container *ngIf="disk.name">
                <div class="col">{{disk.name}}:</div>
                <div class="col"><strong>{{disk.usage}}%</strong></div>
                <div class="w-100"></div>
              </ng-container>

            </div>
          </div>
          <div class="col-xl-12 col border-left  mt-3">
            <strong>Redpesk</strong>
            <div class="row mb-4">
              <div class="col">Distribution:</div>
              <div class="col"><strong>{{board.redpesk.distribution}}</strong></div>
              <div class="w-100"></div>
              <div class="col">Version Id:</div>
              <div class="col"><strong>{{board.redpesk.version_id}}</strong></div>
              <div class="w-100"></div>
            </div>
            <strong>Recovery</strong>
            <div class="row mb-3">
              <div class="col">Distribution:</div>
              <div class="col"><strong>{{board.recovery.distribution}}</strong></div>
              <div class="w-100"></div>
              <div class="col">Version Id:</div>
              <div class="col"><strong>{{board.recovery.version_id}}</strong></div>
              <div class="w-100"></div>
            </div>
            <strong>Boot Flags</strong>
            <div class="row">
              <div class="col">Counter:</div>
              <div class="col"><strong>{{board.boot_flags.counter}}/{{board.boot_flags.limit}}</strong></div>
              <div class="w-100"></div>
              <div class="col">Upgrade available:</div>
              <div class="col"><strong>{{board.boot_flags.upgrade_available}}</strong></div>
              <div class="w-100"></div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>

</ng-container>
<main role="main">
  <ng-template #loading>
    <div class="container loading">

      <ng-template [ngIf]="!tryToReconnect && !recoveryEnd">
        <div class="text-center mt-5">
          <h2>Connecting to
            <span style="color:#d70000">
              <strong style="color: #af0505">red</strong>pesk<sup style="font-size: 50%;">®</sup>
            </span> Recovery tool.
          </h2>
          <p>Please wait ...</p>
        </div>
        <div class="d-flex justify-content-center mt-2">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-template>

      <ng-template [ngIf]="tryToReconnect && !recoveryEnd">
        <div class="mt-5 text-center">
          <h1>Connection problem!</h1>
          <img class="img img-responsive" src="../../../assets/404.png" alt="tux 404">
          <p>You are not able to connect to the main background process. Maybe
            <span style="color:#d70000">
              <strong style="color: #af0505">red</strong>pesk<sup style="font-size: 50%;">®</sup>
            </span> Recovery tool is open elsewhere.
          </p>
          <p>Anyway you can try to <button type="button" class="btn btn-sm btn-danger"
              (click)="reconnect()">reconnect</button></p>
        </div>
      </ng-template>

      <ng-template [ngIf]="recoveryEnd">
        <div class="text-center mt-5">
          <img class="img img-responsive" style="width: 50%;" src="../../../assets/redpesk-fish-name.png" alt="logo redpesk">
          <div class="mt-5">
            <h1>Recovery Finished</h1>
            <p>Thank you very much for using <span style="color:#d70000">
                <strong style="color: #af0505">red</strong>pesk<sup style="font-size: 50%;">®</sup>
              </span>.
            </p>
          </div>
        </div>
      </ng-template>

    </div>
  </ng-template>

  <ng-container *ngIf="connected && !recoveryEnd; else loading">

    <div class="container main">
      <div class="actions mt-4">
        <h4>Choose one of the following actions</h4>
        <ngb-accordion [closeOthers]="true">
          <ngb-panel id="static-1" title="1. Restore factory version" [disabled]="runningAction || !factory">
            <ng-template ngbPanelContent>
              <form #factoryImage="ngForm" (ngSubmit)="recoverFactoryImage(factoryImage)">
                <fieldset [disabled]="runningAction">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Choose partition(s) you want to wipe up
                    </div>
                    <div class="col-md-6">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rootfs" disabled
                          [(ngModel)]="factoryConfig.rootfs" name="rootfs">
                        <label class="form-check-label" for="rootfs">Rootfs</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="data"
                          [(ngModel)]="factoryConfig.data" name="data">
                        <label class="form-check-label" for="data">Data</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="config"
                          [(ngModel)]="factoryConfig.config" name="config">
                        <label class="form-check-label" for="config">Configs</label>
                      </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                      <button type="submit" class="btn btn-sm btn-primary"
                        [disabled]="checkForm('factoryConfig')">Restore</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-2" title="2. Restore from usb" [disabled]="runningAction  || !usb">
            <ng-template ngbPanelContent>
              <form #usbImage="ngForm" (ngSubmit)="recoverUsbImage(usbImage)">
                <fieldset [disabled]="runningAction">
                  <div class="row align-items-center">
                    <div class="col-md-4">
                      Choose partition(s) you want to wipe up
                    </div>
                    <div class="col-md-6">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rootfs" disabled
                          [(ngModel)]="usbConfig.rootfs" name="rootfs">
                        <label class="form-check-label" for="rootfs">Rootfs</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="data" [(ngModel)]="usbConfig.data"
                          name="data">
                        <label class="form-check-label" for="data">Data</label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="config"
                          [(ngModel)]="usbConfig.config" name="config">
                        <label class="form-check-label" for="config">Configs</label>
                      </div>
                    </div>
                    <div class="col-md-2 d-flex justify-content-center">
                      <button type="submit" class="btn btn-sm btn-primary"
                        [disabled]="checkForm('usbConfig')">Restore</button>
                    </div>
                  </div>
                </fieldset>
              </form>
            </ng-template>
          </ngb-panel>
          <ngb-panel id="static-3" title="3. Reboot without restoring" [disabled]="runningAction">
            <ng-template ngbPanelContent>
              <div class="row">
                <div class="col-md-6">Quit recovery mode without making any change on board system.</div>
                <div class="col-md-6">
                  <button class="btn btn-success btn-sm" (click)="reboot()">Reboot Board</button>
                </div>
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>

      </div>

      <ng-container *ngIf="showTerminal()">
        <!-- Terminal -->
        <div class="terminal mt-3">
          <div class="terminal-heading"></div>
          <div class="terminal-content">
            <pre *ngIf="!code.length" class="blinking">_</pre>
            <ng-container>
              <pre #tcontent [innerHtml]="code"></pre>
            </ng-container>
          </div>
        </div>

        <div class="mt-2 mb-5 row">
          <div class="col-md-11 col-8">
            <div *ngIf="finishedAction || canceled" class="copy-buttons">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary btn-sm" (click)="copyToClipboard()" placement="left"
                  ngbTooltip="Copy console output">Copy Console</button>
              </div>
              <div class="btn-group ml-2" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary btn-sm" placement="right"
                  ngbTooltip="Download output and json logs" (click)="download()">Download Logs</button>
              </div>
            </div>
            <ngb-progressbar *ngIf="showProgress()" [showValue]="true" type="info" [value]="progress" height="1.5rem">
            </ngb-progressbar>
          </div>
          <div class="col-md-1 col-4">
            <button *ngIf="showProgress()" class="btn btn-danger btn-sm cancel" (click)="cancel()">Cancel</button>
            <button *ngIf="finishedAction" class="btn btn-success btn-sm reboot" (click)="reboot()">Reboot Board</button>
          </div>

        </div>
      </ng-container>
    </div>

  </ng-container>

</main>

<footer class="footer mt-auto py-3 text-center">
  <div class="container-fluid">
    <span class="text-muted">Copyright© 2020-{{ year }} redpesk<sup style="font-size: 50%;">®</sup></span>
  </div>
</footer>
